.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formCadastro {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 330px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(27, 27, 27);
}

.formCadastro h2 {
    margin-top: 20px;
    margin-bottom: 40px;
}

.formCadastro input {
    width: 200px;
    height: 25px;
}

.formCadastro p {
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 30px;
}

.formCadastro p:hover {
    cursor: pointer;
}

.formCadastro .enviarCadastro:hover {
    background-color: rgb(191, 211, 16);
    border: 1px solid black;
    font-weight: bolder;
    cursor: pointer;
    
}

.formCadastro input:focus {
    background-color: rgb(191, 211, 16);
    border: 1px solid rgb(62, 68, 5);
}



.formCadastro input::-webkit-input-placeholder{
    padding-left: 10px;
    color: rgb(70, 70, 70);
}

