#conteudo {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 100% 1fr;
    grid-template-columns: 5fr 5fr;
    grid-template-areas: "imagem conteudo";
}

.bkg {
    height: 100vh;
    background-image: url('./bkg.png');
    opacity: 20%;
    background-repeat: no-repeat;
    grid-area: imagem;
}

.information {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: conteudo;
    flex-direction: column;
}
.information h1 {
    color: rgb(238, 238, 238);
    margin-bottom: 40px;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.information h3 {
    color: #8fe945fd;
    text-align: center;
    width: 300px;
    margin-bottom: 50px;
  
}

.butoes {
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.butoes button {
    padding: 5px;
    height: 50px;
    width: 10rem;
    font-size: 1rem;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    
}

.butoes button:hover {
    background-color: #8fe945fd;
    border: none;
    transition: .5s;
}

.ajeitaLink{
    text-decoration: none;
    color: black;
}