.upImage {
    margin-top: -100px;
    justify-content: center;
}

form {
    flex-direction: column;
    align-items: center;
}

h1 {
    color: yellow;
    margin-bottom: 40px;
}

label input {
    width: 500px;
}

#minhaFoto {
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 10px black;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 40px;
    opacity: .8;
}

label [type="submit"] {
    margin-top: 40px;
}