.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.formUpload {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(27, 27, 27);
}

.formUpload h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}


.formUpload figure{
    width: 80%;
    height: 200px;
    border: 1px solid  rgb(191, 211, 16);
    background-color: rgba(191, 211, 16, 0.11);;
    margin-bottom: 20px;
}



.formUpload input {
    width: 400px;
    height: 30px;
}


.formUpload .enviarFoto{
margin-bottom: 25px;

}

.formUpload .enviarFoto:hover {
    background-color: rgb(191, 211, 16);
    border: 1px solid black;
    font-weight: bolder;
    cursor: pointer;
   
}

.formUpload input:focus {
    background-color: rgb(191, 211, 16);
    border: 1px solid rgb(62, 68, 5);
}



.formUpload input::-webkit-input-placeholder{
    padding-left: 10px;
    color: rgb(70, 70, 70);
}

