.tudo{
    background-color: rgb(233, 235, 234);
}

.Menu {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 1;
}

.Menu ul {
    width: 100%;
    height: 40px;
    padding: 10px 0;
    margin: 0px;
    list-style: none;
    background-color: #3a3b75;
    border: 1px solid black;
}

.Menu ul li {
    display: inline;
    font-weight: bolder;
    float: left;
    color: black;
    padding: 10px;
    margin-top: -10px;
}

.Menu ul li a {
    text-decoration: none;
    color: black;
}

.Menu ul li:hover {
    background-color: rgba(156, 230, 36, 0.329);
    cursor: pointer;
}

.Menu ul li:last-child {
    float: right;
}

.wrapper h1 {
    margin: auto;
    color: rgb(0, 0, 0);
    margin-bottom: 50px;
    padding-top: 90px;
   
}

.Gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

figure {
    width: 400px;
    height: 400px;
    background-color: white;
    margin: 10px;
    box-shadow:  0px 0px 5px rgb(116, 116, 116);
    position: relative;
    z-index: 0;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figcaption {
    background-color: rgba(156, 230, 36, 0.329);
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgb(3, 3, 3);
}

.pagination {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    max-width: 200px;
    margin: 0 auto;
}

.pagination button {
    padding: 5px;
    background-color: rgb(139, 139, 139);
    border: 1px solid black;
    cursor: pointer;
}